<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Book Monkey Client</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-form-field class="form-field">
    <mat-label>Suchen</mat-label>
    <input matInput [value]="bookFilter" (input)="updateBookFilter($event)" />
    @if (bookFilter) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Zurücksetzen"
      (click)="bookFilter = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <div class="center">Anzahl Bücher: {{ bookCount() }}</div>
  @if (isLoading) {
  <mat-spinner class="loading"></mat-spinner>
  }
  <mat-grid-list [cols]="cols" rowHeight="12.5:10">
    @for (book of books() | bookFilter: bookFilter; track book) {
    <mat-grid-tile>
      <app-book-card
        [content]="book"
        (detailClick)="navigate($event)"
      ></app-book-card> </mat-grid-tile
    >} @empty { @if (!isLoading) {
    <mat-grid-tile> Keine Bücher vorhanden. </mat-grid-tile>} }
  </mat-grid-list>
</div>
