<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Book Monkey Client</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-form-field class="form-field">
  <mat-label>Suchen</mat-label>
  <input matInput (input)="updateBookFilter($event)" />
</mat-form-field>
<mat-grid-list [cols]="cols" rowHeight="20:11" gutterSize="20px">
  @for (book of books | bookFilter: bookFilter; track book) {
  <mat-grid-tile>
    <app-book-card
      [content]="book"
      (detailClick)="navigate($event)"
    ></app-book-card> </mat-grid-tile
  >} @empty {
  <mat-grid-tile> Keine Bücher vorhanden. </mat-grid-tile>
  }
</mat-grid-list>
